ml4physim_startingkit/Dataset/
ml4physim_startingkit/airfoilConfigurations/
ml4physim_startingkit/utils/
starting_kit/
LIPS/
articles/
ml4physim_startingkit/logs.log
ml4physim_startingkit/log_benchmark
