src/Dataset/
src/airfoilConfigurations/
src/utils/
src/CV/
starting_kit/
LIPS/
articles/
src/log_benchmark
*.log
*.pkl
*__pycache__/

src/0_Basic_Competition_Information.ipynb
src/1_Airfoils_design_basic_simulation.ipynb
src/2-Import_Airfoil_design_Dataset.ipynb
src/3_Reproduce_baseline_result.ipynb
src/4_How_to_contribute.ipynb
src/5_Scoring.ipynb
src/6_Submission.ipynb
src/7_Submission_examples.ipynb
*.png
src/my_custom_packed_ensemble.py
src/running_script.ipynb
src/running_script.py
src/submission/
.env
src/dump
*AirfRANSModel*
*.npz
*.zip