ml4physim_startingkit/Dataset/
ml4physim_startingkit/airfoilConfigurations/
ml4physim_startingkit/utils/
ml4physim_startingkit/CV/
starting_kit/
LIPS/
articles/
ml4physim_startingkit/log_benchmark
*.log
*.pkl
*__pycache__/

ml4physim_startingkit/0_Basic_Competition_Information.ipynb
ml4physim_startingkit/1_Airfoils_design_basic_simulation.ipynb
ml4physim_startingkit/2-Import_Airfoil_design_Dataset.ipynb
ml4physim_startingkit/3_Reproduce_baseline_result.ipynb
ml4physim_startingkit/4_How_to_contribute.ipynb
ml4physim_startingkit/5_Scoring.ipynb
ml4physim_startingkit/6_Submission.ipynb
ml4physim_startingkit/7_Submission_examples.ipynb
*model*
*.png
ml4physim_startingkit/my_custom_packed_ensemble.py
ml4physim_startingkit/running_script.ipynb
ml4physim_startingkit/running_script.py
ml4physim_startingkit/submission/
.env
ml4physim_startingkit/dump
*.npz